@import url("./colors.css");
* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10pt;
  min-height: 0;
  animation: none;
  transition: none;
}
window#waybar {
  opacity: 1;
  background: @bg1;
  color: @fg_0;
  /*border-bottom: 0px solid @bg;*/
  /*border-bottom: 2px solid @purple;*/
}
/* non-empty workspaces*/
#workspaces button {
  padding: 3px 10px;
  background: @bg;
  color: @fg_0;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  /*background-image: linear-gradient(0deg, @orange_1, @bg2);*/
  background-image: linear-gradient(0deg, @orange_1);
}
/* non-empty persistent workspaces */
#workspaces button.persistent {
  /*background-image: linear-gradient(0deg, @bg, @bg4);*/
  /*background-image: linear-gradient(0deg, @bg1);*/
}
/* active or visible workspaces */
/*#workspaces button.visible,
#workspaces button.active {
  background-image: linear-gradient(0deg, @purple, @selection);
}*/
#workspaces button.active {
  /*background-image: linear-gradient(0deg, @bg, @bg);*/
  background-image: linear-gradient(0deg, @bg1);
}
/* urgent workspaces */
#workspaces button.urgent {
  /*background-image: linear-gradient(0deg, @red_1, @bg2);*/
  background-image: linear-gradient(0deg, @red_1);
}
/* empty workspaces */
#workspaces button.empty {
  /*background-image: linear-gradient(0deg, @bg, @bg);*/
  background-image: linear-gradient(0deg, @bg);
}
#taskbar button.active {
  /*background-image: linear-gradient(0deg, @orange_1, @bg2);*/
  background-image: linear-gradient(0deg, @gray_1);
}
#clock {
  padding: 0 4px;
  background: @bg;
}

#custom-menuCapybara {
  font-size: 5px;
  background-image: url("/home/kur/Descargas/Images/capybarawhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#window.kur {
  background: @bg1;
  padding: 0 6px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-hint,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-CPUTemp,
#custom-gpuTemp,
#custom-swaync,
#custom-updater,
#custom-kbd_layout,
#custom-gpuUsage,
#custom-gpuTemp,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay,
#custom-cpuUsage_dwm,
#custom-gpuUsage_dwm,
#custom-cpuGpuTemp_dwm,
#custom-ramUsage_dwm,
#custom-volume_dwm,
#custom-date_dwm,
#cpu-kur_dwm,
#custom-separator.blank,
#custom-separator.blank_2,
#custom-separator.blank_3,
#custom-idle_inhibitor {
  color: @fg_0;
  background: @bg;
  /*padding: 3px 6px 3px 6px;*/
}
