@import url("./colors.css");
* {
  border: none;
  border-radius: 0;
  font-family: Hack Nerd Font;
  font-size: 10pt;
  min-height: 0;
}
window#waybar {
  opacity: 1;
  background: @bg;
  color: @fg;
  border-bottom: 2px solid @bg;
  /*border-bottom: 2px solid @purple;*/
}
/* non-empty workspaces*/
#workspaces button {
  padding: 0 10px;
  background: @bg;
  color: @fg;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-image: linear-gradient(0deg, @nord-selection, @bg-darker);
}
/* non-empty persistent workspaces */
#workspaces button.persistent {
  background-image: linear-gradient(0deg, @bg, @nord-selection);
}
/* active or visible workspaces */
/*#workspaces button.visible,
#workspaces button.active {
  background-image: linear-gradient(0deg, @purple, @nord-selection);
}*/
#workspaces button.active {
  background-image: linear-gradient(0deg, @purple, @nord-selection);
}
/* urgent workspaces */
#workspaces button.urgent {
  background-image: linear-gradient(0deg, @red, @bg-darker);
}
/* empty workspaces */
#workspaces button.empty {
  background-image: linear-gradient(0deg, @bg, @bg-darker);
}
#taskbar button.active {
  background-image: linear-gradient(0deg, @nord-selection, @bg-darker);
}
#clock {
  padding: 0 4px;
  background: @bg;
}

#custom-menuCapybara {
  font-size: 5px;
  background-image: url("/home/kur/Descargas/Images/capybarawhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-hint,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-gpuTemp,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay,
#custom-gpuUsage,
#custom-idle_inhibitor {
  color: @fg;
  padding: 3px 6px 3px 6px;
}
