/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (long) */

@import "~/.config/rofi/config-KurTheme" 

/* ---- Window ---- */
window {
  width: 15%;
}

/* ---- Entry ---- */
entry {
  placeholder: "🔎 Search       ";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
  scrollbar: true;
}
