@import url("./colors.css");
* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-radius: 0;
  border-color: @background-darker;
  text-decoration-color: @purple;
  color: #f0ffff;
  background-color: @background;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: #fff8dc;
  color: #1e1e2e;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#lock:focus {
  background-image: image(url("./icons/lock-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#logout:focus {
  background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}

#suspend:hover {
  background-image: image(url("./icons/suspend-hover.png"));
}

#suspend:focus {
  background-image: image(url("./icons/suspend-hover.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#hibernate:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
}

#hibernate:focus {
  background-image: image(url("./icons/hibernate-hover.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}

#shutdown:hover {
  background-image: image(url("./icons/shutdown-hover.png"));
}

#shutdown:focus {
  background-image: image(url("./icons/shutdown-hover.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}

#reboot:hover {
  background-image: image(url("./icons/reboot-hover.png"));
}

#reboot:focus {
  background-image: image(url("./icons/reboot-hover.png"));
}
